@{
    ViewData["Title"] = "Home Page";
}

<div class="position-fixed text-center">
    <img class="m-5" src="~/img/logos/MCBA-Logo-Blue.png" alt="Most Common Bank of Australia Logo" width="150" height="150"/>
    <h3 class="display-6">
        Welcome to MCBA Admin Portal
    </h3>
    <p>
        <small class="text-muted lead">
            Login to continue
        </small>
    </p>
</div>