<!-- 
// Code sourced and adapted from:
// Week 5 Lectorial - Deposit.cshtml 

// Code sourced and adapted from:
// https://stackoverflow.com/questions/15148103/mvc-4-how-do-i-pass-model-data-to-a-partial-view
-->

@model MCBA_Customer.ViewModels.DepositViewModel
@{
    ViewData["Title"] = "Deposit";
}

<div class="d-flex flex-column border rounded w-75">
    <div class="p-xl-5">
        <h1>Deposit</h1>
        <p>
            <small class="text-muted">Account number @Model.Account?.AccountNumber (@Model.Account?.AccountType)</small>
        </p>
    </div>

    <form asp-action="Deposit">
        <div class="row px-xl-5">
            <div class="col">

                <input type="hidden" asp-for="AccountNumber"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label"></label>
                    <input type="text" asp-for="Amount" class="form-control">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

            </div>

            <div class="col">
                <div class="mb-3">
                    <label asp-for="Comment" class="form-label"></label>
                    <input type="text" asp-for="Comment" class="form-control">
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>

            </div>

            <div class="mb-3 d-flex align-content-end justify-content-end">
                <partial name="_ConfirmModal" for="@Model"/>
            </div>
        </div>
    </form>


    <div class="d-flex justify-content-end align-content-end p-xl-5">
        <a class="text-decoration-none text-muted" asp-action="Index">Back to Accounts</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}