/* Colors *********************************************************/

$color-purple-primary: #9381FF;
$color-purple-secondary: #B8B8FF;
$color-brown-primary: #FFD8BE;
$color-brown-secondary: #FFEEDD;
$color-gray-primary: #F8F7FF;

/******************************************************************/