@import "colors";
@import "fonts";

/* Sass Variables *************************************************/

/* Nav */
$navbar-toggler-focus-width: 1px;
$nav-link-color: $color-purple-primary;
$nav-link-hover-color: white;

$theme-colors: (
        "primary": $color-purple-primary,
        "secondary": $color-purple-secondary
);

  /******************************************************************/


