@import 'abstracts/variables';
@import 'abstracts/buttons';
@import "../node_modules/bootstrap/scss/bootstrap";

/*
// Code sourced and adapted from:
// https://sass-lang.com/guide 
// https://getbootstrap.com/docs/5.0/getting-started/introduction/
*/

*, *:focus, *:hover {
  outline: none;
}

body, html {
  margin: 0;
  padding: 0;
}