@import "abstracts/colors";
@import "abstracts/fonts";

/* Sass Variables *************************************************/

$primary: $color-purple-primary;
$secondary: $color-purple-secondary;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

/* Nav */
$navbar-toggler-focus-width: 1px;
$nav-link-color: $color-purple-primary;
$nav-link-hover-color: white;

/* Pagination */
$pagination-focus-color: $color-purple-primary;

/******************************************************************/

@import "../node_modules/bootstrap/scss/bootstrap";

/*
// Code sourced and adapted from:
// https://sass-lang.com/guide 
// https://getbootstrap.com/docs/5.0/getting-started/introduction/
*/

*, *:focus, *:hover {
  outline: none;
}

body, html {
  font-family: $font-family-primary;
  margin: 0;
  padding: 0;
}