@model s3910902_a2.ViewModels.TransactionViewModel
@{
    ViewData["Title"] = "Withdraw";
}

<h1 class="display-4">Account Number @Model.Account?.AccountNumber (@Model.Account?.AccountType)</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Withdraw">
            <input type="hidden" asp-for="AccountNumber" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Amount" class="form-label"></label>
                <input type="text" asp-for="Amount" class="form-control">
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Comment" class="form-label"></label>
                <input type="text" asp-for="Comment" class="form-control">
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <partial name="_ConfirmModal" for="@Model"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}