@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex h-100 flex-column align-items-center justify-content-center">
    <h1>Privacy Policy</h1>
    <p class="lead">Learn more about our Privacy Policy</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
</div>